<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class='todoReceipt' id='todoReceipt'>
        <h1>Todo Tasks</h1>

        <form action="/createTodo" method='POST'>
            <input type="text" name="todoItem" placeholder="Enter a todo">
            <input type="submit" class="add" value="Add" id ='addBtn'>
        </form>

        <ul>
            <% for( let i = 0; i < zebra.length; i++) { %>
                <li class='todoItem'>
                    <% if(zebra[i].completed === true) { %>
                    <span class='completed'><%= zebra[i].todo %></span>
                    <% } else {%>
                    <span ><%= zebra[i].todo %></span>
                    <% } %>
                    <span class='del'> <button>Delete</button> </span>
                </li>
            <% } %>
        </ul>
    
        <h2>Todo(s) left: <%= left %></h2>
    

    </section>

    <script src='js/main.js'></script>
</body>
</html>